<header>
        <nav>
            <ul>
                <li><a href="/">Ver</a></li>
                <li><a href="/crear">Crear Producto</a></li>
                <li><a href="consultar">Consultar Producto</a></li>
                <li><a href="/modificar">Modificar Producto</a></li>
                <li><a href="/eliminar">Eliminar Producto</a></li>
            </ul>
        </nav>
</header>
<h1><%=about %></h1>
<hr>