<header>
        <nav>
            <ul>
                <li><a href="/dashboard">Ver</a></li>
                <li><a href="crear.ejs">Crear Producto</a></li>
                <li><a href="consultar.ejs">Consultar Producto</a></li>
                <li><a href="modificar.ejs">Modificar Producto</a></li>
                <li><a href="eliminar.ejs">Eliminar Producto</a></li>
            </ul>
        </nav>
</header>
<h1><%=about %></h1>
<hr>